.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1rem;
    top: 50%;
    border: 5px solid black;
  }
  
.body {
    height: 100%;
    background-image: url(./assets/images/nyc-skyline.jpg);
}